* text=auto eol=lf

# Keep the Windows wrapper in its native line-ending format on checkout.
mvnw.cmd text eol=crlf

*.7z binary
*.bin binary
*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.pdf binary
*.png binary
*.tar binary
*.gz binary
*.zip binary
